@import url('https://fonts.googleapis.com/css?family=Rye');

.App {
  text-align: center;
}

.App-logo {
  margin: 50px;
  height: 500px;
  pointer-events: none;

  margin-top: 10%;
  margin-left: 8%;
  position: absolute;
}

.App-cactus1 {
  margin: 40px;
  height: 200px;
  pointer-events: none;
  margin-top: 10%;
  margin-left: 85%;
  position: absolute;
}

.App-cactus2 {
  margin: 30px;
  height: 170px;
  pointer-events: none;
  margin-top: 15.5%;
  margin-left: 37%;
  position: absolute;
}

.App-cactus3 {
  margin: 40px;
  height: 250px;
  pointer-events: none;
  margin-top: 27%;
  margin-left: 33%;
  position: absolute;
}

.App-cactus4 {
  margin: 30px;
  height: 170px;
  pointer-events: none;
  margin-top: 15.5%;
  margin-left: 13%;
  position: absolute;
}

.App-cactus5 {
  margin: 40px;
  height: 250px;
  pointer-events: none;
  margin-top: 27%;
  margin-left: 6%;
  position: absolute;
}

.App-sun {
  width: 1540px;
  height: 330px;
  pointer-events: none;
  position: absolute;
  margin-top: 0%;
}

.App-flag {
  margin: 40px;
  height: 250px;
  pointer-events: none;
  margin-top: 25%;
  margin-left: 78%;
  position: absolute;

}

.App-header {
  background-color: #dac292;
  margin: 100px;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6b5b95;
}

.wrapper {
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;

}

.button {
  width: 400px;
  height: 200px;
  font-size: 80px;
  font-family: serif;
  color: white;
  background: rgb(50, 50, 160);
  border-radius: 50px;
  border: 2px solid black;
  margin-top: 15%;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;


}

.nextbutton{
  width: 150px;
  height: 75px;
  font-size: 50px;
  font-family: serif;
  color: white;
  background: rgb(50, 50, 160);
  border: 1px solid black;
  top: 600px;
  left: 990px;
  border-radius: 10px;
  position: absolute;
}

.home{
  width: 150px;
  height: 75px;
  font-size: 50px;
  font-family: serif;
  color: white;
  background: rgb(50, 50, 160);
  border: 1px solid black;
  position: absolute;
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 10px;
}

.City{
  width: 350px;
}

.Zipcode{
  width: 200px;
}

.Category{
  width: 400px;
}

.CategoryBox{
  position: absolute;
  margin-top:26%;
  margin-left: 50%;
}

.backbutton{
  width: 150px;
  height: 75px;
  font-size: 50px;
  font-family: serif;
  color: white;
  background: rgb(50, 50, 160);
  border: 1px solid black;
  top: 600px;
  left: 780px;
  border-radius: 10px;
  position: absolute;
}

.backbuttonresults{
  width: 150px;
  height: 75px;
  font-size: 50px;
  font-family: serif;
  color: white;
  background: rgb(50, 50, 160);
  border: 1px solid black;
  position: absolute;
  margin-left: 80%;
  margin-top: 2%;
  border-radius: 10px;
}

.LocationBox{
  position: absolute;
  margin-top:25%;
  margin-left: 50%;
}

.RatingBox{
  position: absolute;
  margin-top:27%;
  margin-left: 49%;
}

.AlcoholBox{
  position: absolute;
  margin-top:27%;
  margin-left: 58%;
}

.AlcoholReq{
  position: absolute;
  margin-top: 24%;
  margin-left: 56%;
  font-family: 'Rye';
  font-size: 30px;
}

.Loading{
  position: absolute;
  margin-top: 24%;
  margin-left: 45%;
  font-family: 'Rye';
  font-size: 30px;
}

.Title {
  font-size: 100px;
  text-align: center;
  top: 5%;
  font-family: 'Rye';
  position: absolute;
  margin-left: 20%;
}

.break {
  height: 0px;
}

.data{
  position: absolute;
  margin-top: 20%;
  margin-left: 10%;
}

.listItem{
  height: 10px;
}

.paper{
  width: 100px;
  height: 300px;
  color: white;

}
