.App {
  text-align: center;
}

.App-logo {
  margin: 100px;
  height: 600px;
  pointer-events: none;
  margin-top: 2%;


}

.App-header {
  background-color: #dac292;
  margin: 100px;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6b5b95;
}

.wrapper {
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;


}

.button {
  width: 400px;
  height: 200px;
  font-size: 80px;
  font-family: serif;
  color: white;
  background: rgb(50, 50, 160);
  border-radius: 50px;
  border: 2px solid black;
  margin-top: 15%;


}
.nextbutton{
  width: 150px;
  height: 75px;
  font-size: 50px;
  font-family: serif;
  color: white;
  background: rgb(50, 50, 160);
  border: 1px solid black;
  top: 800px;
  left: 1000px;

}
.backbutton{
  width: 150px;
  height: 75px;
  font-size: 50px;
  font-family: serif;
  color: white;
  background: rgb(50, 50, 160);
  border: 1px solid black;
  margin-top: -1;
  margin-left: 100px;

}
.Title {
  font-size: 100px;
  text-align: center;
  top: 20%;
  font-family: serif;
}
.break {
  height: 50px;
}
.MuiFormControl-root-127{
  width: 200px;
}
